@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");

:root {
    --secondary-color: #aaa;
    --background-color: #440015;
}

html {
    background-color: #020202;
    color: #e7e8d8;
    font-family: "Roboto", sans-serif;
}

svg {
    fill: none;
    stroke-width: 10px;
}

.marker {
    stroke-width: 30px;
}

text {
    font-size: 45px;
    stroke-width: 2px;
    user-select: none;
}

.label {
    font-size: 12px;
    stroke-width: 0;
}
